<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Employee TimeTrack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9EE656D1C692C240005307A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9EE65841C692C250005307A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9EE658F1C692C250005307A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
